*{
    background: black;
    color: white;
}
#name-label{
    margin-left: 55px;
    font-size: 17px;
    color: #999;
}
#password-label{
    margin-left: 60px;
    font-size: 17px;
    color: #999;
}
#email-label{
    margin-left: 70px;
    font-size: 17px;
    color: #999;
}
form{
    margin-top: 200px;
    margin-left: 100px;
}
input{
    background: #444;
    border-radius: 5px;
}
[type=submit]{
    width: 75px;
    color: blue;
    height: 20x;
    font-size: 17px;
    border: 3px solid #111;
}