.div{
    font-family: Sans-Serif, Arial, Comic Sans MS;
    margin-top: 100px;
    margin-left: 25px;
}
#subBtn{
    background: #007acc;
    color: #12b889;
    margin-top: 50px;
    margin-left: 125px;
}