@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v128/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}
#name{font-weight: bold; font-size: 20px;}
span> char{
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1px;
    border-image-outset: 1px;}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  background: transparent;
}
.python> #name{
    float: left;
}
.cookies{
    position:fixed;
    bottom:0px;
}
.python > button > i {
  background: transparent;
}

.python-code > pre {
  background: transparent;
}

.python-code > pre > key {
  color: orange;
  background: transparent;
}

.python-code > pre > code {
  color: yellow;
  background: transparent;
}
